{% load staticfiles %}

<!-- JQUERY -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- BOOTSTRAP -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- SCRIPTS -->
<script src="{% static 'js/scripts.js' %}"></script>

<!-- riot -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.15/riot+compiler.min.js"></script>

<!-- riot-tags -->
<script type='riot/tag' src="{% static 'riot-tags/popover.tag' %}"></script>

<!-- popover -->
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>

<script type="text/javascript">
	
	riot.mount('popover-component')

	if(screen.availWidth < 1280){
	  $(function(){
	    $('#resprow').html("<div class='row'><a href='http://www.meetup.com/members/108354402'>Extracurricular</a><div>")
	  });
	}
</script>